@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CreateOrderModel
@using Newtonsoft.Json
@{
    string[] timeList = new string[]{ "10:00", "11:00", "12:00", "13:00", "14:00", "15:00"};
}


<h1>Record on service</h1>
<form asp-action="RecordOnService" asp-controller="Client" method="post">
    <div class="form-group">
        <label asp-for="Order.Date">Date</label>
        <input asp-for="Order.Date" type="date" name="date" id="calendar">
    </div>
    <div class="form-group">
        <label>Time</label>
        <div id="time_block">
            
        </div>
    </div>
    <div class="form-group">
        <label>Select service</label>
        <select asp-for="Order.CarServiceId">
            @foreach (var service in Model.CarServices)
            {
                <option value="@service.CarServiceId">@service.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" name="submit" value="Send" class="btn btn-default" />
    </div>
</form>