@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <p>Quick recording at a convenient time at a service station</p>
    </div>
    <div>
        <input type="button" value="Record to..." onclick='window.location = "@Url.Action("Login", "Home")";' />
    </div>
</div>
<div style="display: grid; grid-auto-flow: column; grid-auto-columns: 1fr;">
    <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
        <div>
            <p>Service</p>
        </div>
        <div>
            <input type="button" value="Show" onclick='window.location = "@Url.Action("Services", "Home")";' />
        </div>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
        <div>
            <p>Staff</p>
        </div>
        <div>
            <input type="button" value="Show" onclick='window.location = "@Url.Action("Staff", "Home")";' />
        </div>
    </div>
</div>
